# Polars: um simples mas prático tutorial

## **0. Setup e considerações iniciais**


- A API/funções do Polars é bem parecido com a do PySpark. Eu optei por fazer esse tutorial parecido com o que já trabalhei anteriormente.
    - Em termos práticos, enquanto em algum tutorial você deva ver `pl.col()`, aqui você verá apenas `col()`
    - Fora que eu escrevo com as identações com as "/"s e alguns Enters a cada comando
- Não se prenda as operações, por exemplo fazendo soma da variável PassengerId, é apenas demonstração

In [1]:
from polars import *
from datetime import date

## **1. Como carregar os dados**

### **1.1. CSV**

In [2]:
dados = read_csv(file = '../02-data/titanic.csv')

dados

shape: (1309, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Joshua     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│        ┆          ┆ Creig...          ┆        ┆     ┆          ┆      ┆      ┆                  │
│ ...    ┆ ...      ┆ ...               ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Thamine           ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ ... ┆ C        ┆ null ┆ 304  ┆ null             │
│        ┆          ┆ Mapriededer       ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Ortin             ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Leo               ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

### **1.2. Excel (xlsx)**

In [3]:
dados = read_excel(file = '../02-data/titanic.xlsx')

dados.head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

## **2. Informações iniciais do dataframe**

In [4]:
dados.head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [5]:
dados.limit(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [6]:
dados.tail(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────────────┬──────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name                      ┆ sex  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---                       ┆ ---  ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ i64    ┆ i64      ┆ str                       ┆ str  ┆     ┆ str      ┆ str  ┆ i64  ┆ str       │
╞════════╪══════════╪═══════════════════════════╪══════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer ┆ male ┆ ... ┆ C        ┆ null ┆ 304  ┆ null      │
│ 3      ┆ 0        ┆ Zakarian, Mr. Ortin       ┆ male ┆ ... ┆ C        ┆ null ┆ null ┆ null      │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo        ┆ male ┆ ... ┆ S        ┆ null ┆ null ┆ null      │
└────────┴──────────┴───────────────────────────┴──────┴─────┴──────────┴──────┴──────┴───────────┘

In [7]:
dados.shape

(1309, 14)

In [8]:
dados.describe()

shape: (7, 15)
┌────────────┬──────────┬──────────┬─────────────┬─────┬──────────┬──────┬────────────┬────────────┐
│ describe   ┆ pclass   ┆ survived ┆ name        ┆ ... ┆ embarked ┆ boat ┆ body       ┆ home.dest  │
│ ---        ┆ ---      ┆ ---      ┆ ---         ┆     ┆ ---      ┆ ---  ┆ ---        ┆ ---        │
│ str        ┆ f64      ┆ f64      ┆ str         ┆     ┆ str      ┆ str  ┆ f64        ┆ str        │
╞════════════╪══════════╪══════════╪═════════════╪═════╪══════════╪══════╪════════════╪════════════╡
│ count      ┆ 1309.0   ┆ 1309.0   ┆ 1309        ┆ ... ┆ 1309     ┆ 1309 ┆ 1309.0     ┆ 1309       │
│ null_count ┆ 0.0      ┆ 0.0      ┆ 0           ┆ ... ┆ 2        ┆ 823  ┆ 1188.0     ┆ 564        │
│ mean       ┆ 2.294882 ┆ 0.381971 ┆ null        ┆ ... ┆ null     ┆ null ┆ 160.809917 ┆ null       │
│ std        ┆ 0.837836 ┆ 0.486055 ┆ null        ┆ ... ┆ null     ┆ null ┆ 97.696922  ┆ null       │
│ min        ┆ 1.0      ┆ 0.0      ┆ Abbing, Mr. ┆ ... ┆ C        ┆ 1    ┆ 1.0        ┆ ?Havana,   │
│            ┆          ┆          ┆ Anthony     ┆     ┆          ┆      ┆            ┆ Cuba       │
│ max        ┆ 3.0      ┆ 1.0      ┆ van         ┆ ... ┆ S        ┆ D    ┆ 328.0      ┆ Zurich,    │
│            ┆          ┆          ┆ Melkebeke,  ┆     ┆          ┆      ┆            ┆ Switzerlan │
│            ┆          ┆          ┆ Mr.         ┆     ┆          ┆      ┆            ┆ d          │
│            ┆          ┆          ┆ Philemon    ┆     ┆          ┆      ┆            ┆            │
│ median     ┆ 3.0      ┆ 0.0      ┆ null        ┆ ... ┆ null     ┆ null ┆ 155.0      ┆ null       │
└────────────┴──────────┴──────────┴─────────────┴─────┴──────────┴──────┴────────────┴────────────┘

## **3. Selecionando colunas específicas**

### **3.1. Por nome**

In [9]:
dados\
    .select(col('age'))\
    .head(3)

shape: (3, 1)
┌──────┐
│ age  │
│ ---  │
│ f64  │
╞══════╡
│ 29.0 │
│ 0.92 │
│ 2.0  │
└──────┘

In [10]:
dados\
    .select(col(['pclass', 'survived', 'name']))\
    .head(3)

shape: (3, 3)
┌────────┬──────────┬────────────────────────────────┐
│ pclass ┆ survived ┆ name                           │
│ ---    ┆ ---      ┆ ---                            │
│ i64    ┆ i64      ┆ str                            │
╞════════╪══════════╪════════════════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton  │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine   │
└────────┴──────────┴────────────────────────────────┘

### **3.2. Por index/posição**

In [11]:
dados[:, 0]\
    .head(3)

shape: (3,)
Series: 'pclass' [i64]
[
	1
	1
	1
]

In [12]:
dados[:, 0:3]\
    .head(3)

shape: (3, 3)
┌────────┬──────────┬────────────────────────────────┐
│ pclass ┆ survived ┆ name                           │
│ ---    ┆ ---      ┆ ---                            │
│ i64    ┆ i64      ┆ str                            │
╞════════╪══════════╪════════════════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton  │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine   │
└────────┴──────────┴────────────────────────────────┘

### **3.3. Bônus (1): Selecionando todas as colunas**

In [13]:
dados\
    .select(\
           col('*')
           )\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

### **3.4. Bônus (2): Excluindo colunas**

In [14]:
dados\
    .select(\
           exclude('PassengerId')
           )\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [15]:
dados\
    .select(\
           exclude(['PassengerId', 'Survived'])
           )\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

## 4. **Operações entre colunas**


Existem duas funções específicas para este fim: a `with_column` e a `with_columns`. 

Qual a melhor usar? Vai na `with_columns`, pois ela permite criar várias colunas de uma vez só, bem parecido com o que `dplyr::mutate()` faz no R.

- **Notem que para adicionar mais de uma coluna, precisa estar dentro de uma lista.**
- **No método 2:**
    - Tem uma mudança do tipo da variável explicitamente na mesma linha da criação da coluna
    - Preenchimento de valores nulos (NAs) diretamente também

### **4.1. Criando apenas 1 coluna**

In [16]:
dados\
    .with_columns(\
                  (col('age') * col('parch')).alias('nova_coluna'),
                 )\
    .head(3)

shape: (3, 15)
┌────────┬──────────┬─────────────────┬────────┬─────┬──────┬──────┬─────────────────┬─────────────┐
│ pclass ┆ survived ┆ name            ┆ sex    ┆ ... ┆ boat ┆ body ┆ home.dest       ┆ nova_coluna │
│ ---    ┆ ---      ┆ ---             ┆ ---    ┆     ┆ ---  ┆ ---  ┆ ---             ┆ ---         │
│ i64    ┆ i64      ┆ str             ┆ str    ┆     ┆ str  ┆ i64  ┆ str             ┆ f64         │
╞════════╪══════════╪═════════════════╪════════╪═════╪══════╪══════╪═════════════════╪═════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.    ┆ female ┆ ... ┆ 2    ┆ null ┆ St Louis, MO    ┆ 0.0         │
│        ┆          ┆ Elisabeth       ┆        ┆     ┆      ┆      ┆                 ┆             │
│        ┆          ┆ Walton          ┆        ┆     ┆      ┆      ┆                 ┆             │
│ 1      ┆ 1        ┆ Allison,        ┆ male   ┆ ... ┆ 11   ┆ null ┆ Montreal, PQ /  ┆ 1.84        │
│        ┆          ┆ Master. Hudson  ┆        ┆     ┆      ┆      ┆ Chesterville,   ┆             │
│        ┆          ┆ Trevor          ┆        ┆     ┆      ┆      ┆ ON              ┆             │
│ 1      ┆ 0        ┆ Allison, Miss.  ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /  ┆ 4.0         │
│        ┆          ┆ Helen Loraine   ┆        ┆     ┆      ┆      ┆ Chesterville,   ┆             │
│        ┆          ┆                 ┆        ┆     ┆      ┆      ┆ ON              ┆             │
└────────┴──────────┴─────────────────┴────────┴─────┴──────┴──────┴─────────────────┴─────────────┘

### **4.2. Criando várias colunas (bem parecido com o dplyr::mutate)**

In [17]:
#---- Método 1:

dados\
    .with_columns(\
                 nova_coluna = col('age') * col('parch'),
                 nova_coluna1 = col('age') * col('sibsp'),
                 nova_coluna2 = col('age') * col('fare')
                 )\
    .head(3)

shape: (3, 17)
┌────────┬──────────┬────────────┬────────┬─────┬────────────┬───────────┬────────────┬────────────┐
│ pclass ┆ survived ┆ name       ┆ sex    ┆ ... ┆ home.dest  ┆ nova_colu ┆ nova_colun ┆ nova_colun │
│ ---    ┆ ---      ┆ ---        ┆ ---    ┆     ┆ ---        ┆ na        ┆ a1         ┆ a2         │
│ i64    ┆ i64      ┆ str        ┆ str    ┆     ┆ str        ┆ ---       ┆ ---        ┆ ---        │
│        ┆          ┆            ┆        ┆     ┆            ┆ f64       ┆ f64        ┆ f64        │
╞════════╪══════════╪════════════╪════════╪═════╪════════════╪═══════════╪════════════╪════════════╡
│ 1      ┆ 1        ┆ Allen,     ┆ female ┆ ... ┆ St Louis,  ┆ 0.0       ┆ 0.0        ┆ 6128.7875  │
│        ┆          ┆ Miss.      ┆        ┆     ┆ MO         ┆           ┆            ┆            │
│        ┆          ┆ Elisabeth  ┆        ┆     ┆            ┆           ┆            ┆            │
│        ┆          ┆ Walton     ┆        ┆     ┆            ┆           ┆            ┆            │
│ 1      ┆ 1        ┆ Allison,   ┆ male   ┆ ... ┆ Montreal,  ┆ 1.84      ┆ 0.92       ┆ 139.426    │
│        ┆          ┆ Master.    ┆        ┆     ┆ PQ / Chest ┆           ┆            ┆            │
│        ┆          ┆ Hudson     ┆        ┆     ┆ erville,   ┆           ┆            ┆            │
│        ┆          ┆ Trevor     ┆        ┆     ┆ ON         ┆           ┆            ┆            │
│ 1      ┆ 0        ┆ Allison,   ┆ female ┆ ... ┆ Montreal,  ┆ 4.0       ┆ 2.0        ┆ 303.1      │
│        ┆          ┆ Miss.      ┆        ┆     ┆ PQ / Chest ┆           ┆            ┆            │
│        ┆          ┆ Helen      ┆        ┆     ┆ erville,   ┆           ┆            ┆            │
│        ┆          ┆ Loraine    ┆        ┆     ┆ ON         ┆           ┆            ┆            │
└────────┴──────────┴────────────┴────────┴─────┴────────────┴───────────┴────────────┴────────────┘

In [18]:
#---- Método 2:

dados\
    .with_columns([\
                  (col('age') * col('parch')).alias('nova_coluna'),
                  (col('age') * col('sibsp')).cast(Int64).alias('nova_coluna1'),
                  (col('age') * col('fare')).cast(Float32).fill_nan(0).alias('nova_coluna2')
                  ])\
    .head(3)

shape: (3, 17)
┌────────┬──────────┬────────────┬────────┬─────┬────────────┬───────────┬────────────┬────────────┐
│ pclass ┆ survived ┆ name       ┆ sex    ┆ ... ┆ home.dest  ┆ nova_colu ┆ nova_colun ┆ nova_colun │
│ ---    ┆ ---      ┆ ---        ┆ ---    ┆     ┆ ---        ┆ na        ┆ a1         ┆ a2         │
│ i64    ┆ i64      ┆ str        ┆ str    ┆     ┆ str        ┆ ---       ┆ ---        ┆ ---        │
│        ┆          ┆            ┆        ┆     ┆            ┆ f64       ┆ i64        ┆ f32        │
╞════════╪══════════╪════════════╪════════╪═════╪════════════╪═══════════╪════════════╪════════════╡
│ 1      ┆ 1        ┆ Allen,     ┆ female ┆ ... ┆ St Louis,  ┆ 0.0       ┆ 0          ┆ 6128.78759 │
│        ┆          ┆ Miss.      ┆        ┆     ┆ MO         ┆           ┆            ┆ 8          │
│        ┆          ┆ Elisabeth  ┆        ┆     ┆            ┆           ┆            ┆            │
│        ┆          ┆ Walton     ┆        ┆     ┆            ┆           ┆            ┆            │
│ 1      ┆ 1        ┆ Allison,   ┆ male   ┆ ... ┆ Montreal,  ┆ 1.84      ┆ 0          ┆ 139.425995 │
│        ┆          ┆ Master.    ┆        ┆     ┆ PQ / Chest ┆           ┆            ┆            │
│        ┆          ┆ Hudson     ┆        ┆     ┆ erville,   ┆           ┆            ┆            │
│        ┆          ┆ Trevor     ┆        ┆     ┆ ON         ┆           ┆            ┆            │
│ 1      ┆ 0        ┆ Allison,   ┆ female ┆ ... ┆ Montreal,  ┆ 4.0       ┆ 2          ┆ 303.100006 │
│        ┆          ┆ Miss.      ┆        ┆     ┆ PQ / Chest ┆           ┆            ┆            │
│        ┆          ┆ Helen      ┆        ┆     ┆ erville,   ┆           ┆            ┆            │
│        ┆          ┆ Loraine    ┆        ┆     ┆ ON         ┆           ┆            ┆            │
└────────┴──────────┴────────────┴────────┴─────┴────────────┴───────────┴────────────┴────────────┘

### **4.3. Bônus:**

- `nova_coluna_constante`: Coluna com um valor único
- `nova_coluna_soma`: Coluna com um valor único, que é a soma da variável Age
- `nova_coluna_42`: Coluna com um valor somado (42) constante para a variável Age
- `nova_coluna_case_when`: Coluna com uma ideia de case when
- `nova_coluna_lista`: Coluna que concatena todas as variáveis em uma lista

In [19]:
dados\
    .select(col('age'))\
    .with_columns(\
                 nova_coluna_constante = lit(1),
                 nova_coluna_soma = col('age').sum(),
                 nova_coluna_42 = col('age') + 42,
                 nova_coluna_case_when = when(col('age') > 10).then(lit('novo')).otherwise(lit('idoso')) # ^.^
                 )\
    .with_columns(\
                  nova_coluna_lista = concat_list(all()) # Problema aqui: tive que adicionar um novo with_columns, pois ele estava criando a lista com um único elemento, que era da coluna PassengerId quando adicionava no primeiro
                 )\
    .head(3)

shape: (3, 6)
┌──────┬──────────────────┬──────────────────┬────────────────┬──────────────────┬─────────────────┐
│ age  ┆ nova_coluna_cons ┆ nova_coluna_soma ┆ nova_coluna_42 ┆ nova_coluna_case ┆ nova_coluna_lis │
│ ---  ┆ tante            ┆ ---              ┆ ---            ┆ _when            ┆ ta              │
│ f64  ┆ ---              ┆ f64              ┆ f64            ┆ ---              ┆ ---             │
│      ┆ i32              ┆                  ┆                ┆ str              ┆ list[str]       │
╞══════╪══════════════════╪══════════════════╪════════════════╪══════════════════╪═════════════════╡
│ 29.0 ┆ 1                ┆ 31255.67         ┆ 71.0           ┆ novo             ┆ ["29.0", "1",   │
│      ┆                  ┆                  ┆                ┆                  ┆ ... "novo"]     │
│ 0.92 ┆ 1                ┆ 31255.67         ┆ 42.92          ┆ idoso            ┆ ["0.92", "1",   │
│      ┆                  ┆                  ┆                ┆                  ┆ ... "idoso"]    │
│ 2.0  ┆ 1                ┆ 31255.67         ┆ 44.0           ┆ idoso            ┆ ["2.0", "1",    │
│      ┆                  ┆                  ┆                ┆                  ┆ ... "idoso"]    │
└──────┴──────────────────┴──────────────────┴────────────────┴──────────────────┴─────────────────┘

## **5. Renomeando colunas e printando as colunas**

**Segue a mesma ideia do rename do Pandas. Irei trocar age -> Age**

In [20]:
dados\
    .rename(mapping = {'age': 'Age'})\
    .columns

['pclass',
 'survived',
 'name',
 'sex',
 'Age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

## **6. Filtros**

**Obviamente, alguns filtros podem ser aplicados tanto à variáveis quantitativas quanto qualitativas**

### **6.1. Variáveis quantitativas**

In [21]:
dados\
    .filter(col('age') > 10)\
    .head(3)

# age maior que 10

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Joshua     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│        ┆          ┆ Creig...          ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson J C        ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│        ┆          ┆ (Bessie...        ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [22]:
dados\
    .filter(col('age') <= 10)\
    .head(3)

# age menor ou igual a 10

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 1        ┆ Dodge, Master.    ┆ male   ┆ ... ┆ S        ┆ 5    ┆ null ┆ San Francisco,   │
│        ┆          ┆ Washington        ┆        ┆     ┆          ┆      ┆      ┆ CA               │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [23]:
dados\
    .filter(col('age').is_between(10, 20))\
    .head(3)

# age entre 10 e 20

shape: (3, 14)
┌────────┬──────────┬────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest    │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---          │
│ i64    ┆ i64      ┆ str                ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str          │
╞════════╪══════════╪════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════╡
│ 1      ┆ 1        ┆ Astor, Mrs. John   ┆ female ┆ ... ┆ C        ┆ 4    ┆ null ┆ New York, NY │
│        ┆          ┆ Jacob (Madelein... ┆        ┆     ┆          ┆      ┆      ┆              │
│ 1      ┆ 1        ┆ Bishop, Mrs.       ┆ female ┆ ... ┆ C        ┆ 7    ┆ null ┆ Dowagiac, MI │
│        ┆          ┆ Dickinson H (Helen ┆        ┆     ┆          ┆      ┆      ┆              │
│        ┆          ┆ ...                ┆        ┆     ┆          ┆      ┆      ┆              │
│ 1      ┆ 0        ┆ Carrau, Mr. Jose   ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ Montevideo,  │
│        ┆          ┆ Pedro              ┆        ┆     ┆          ┆      ┆      ┆ Uruguay      │
└────────┴──────────┴────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────┘

In [24]:
dados\
    .filter((col('age') > 10) & (col('survived') == 1))\
    .head(3)

# ge maior que 10 E survided igual a 1

shape: (3, 14)
┌────────┬──────────┬───────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────┐
│ pclass ┆ survived ┆ name                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest    │
│ ---    ┆ ---      ┆ ---                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---          │
│ i64    ┆ i64      ┆ str                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str          │
╞════════╪══════════╪═══════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.          ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO │
│        ┆          ┆ Elisabeth Walton      ┆        ┆     ┆          ┆      ┆      ┆              │
│ 1      ┆ 1        ┆ Anderson, Mr. Harry   ┆ male   ┆ ... ┆ S        ┆ 3    ┆ null ┆ New York, NY │
│ 1      ┆ 1        ┆ Andrews, Miss.        ┆ female ┆ ... ┆ S        ┆ 10   ┆ null ┆ Hudson, NY   │
│        ┆          ┆ Kornelia Theodosi...  ┆        ┆     ┆          ┆      ┆      ┆              │
└────────┴──────────┴───────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────┘

In [25]:
dados\
    .filter((col('age') > 10) | (col('survived') == 1))\
    .head(3)

# age maior que 10 OU survided igual a 1

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Joshua     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│        ┆          ┆ Creig...          ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

### **6.2. Variáveis qualitativas**

**TO-DO: Adicionar os filtros com regex**

In [26]:
dados\
    .filter(col('embarked') == 'S')\
    .head(3)

# age maior que 10 OU survided igual a 1

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [27]:
dados\
    .filter(col('embarked') != 'S')\
    .head(3)

# Embarked diferente de 'S'

shape: (3, 14)
┌────────┬──────────┬────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest    │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---          │
│ i64    ┆ i64      ┆ str                ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str          │
╞════════╪══════════╪════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════╡
│ 1      ┆ 0        ┆ Artagaveytia, Mr.  ┆ male   ┆ ... ┆ C        ┆ null ┆ 22   ┆ Montevideo,  │
│        ┆          ┆ Ramon              ┆        ┆     ┆          ┆      ┆      ┆ Uruguay      │
│ 1      ┆ 0        ┆ Astor, Col. John   ┆ male   ┆ ... ┆ C        ┆ null ┆ 124  ┆ New York, NY │
│        ┆          ┆ Jacob              ┆        ┆     ┆          ┆      ┆      ┆              │
│ 1      ┆ 1        ┆ Astor, Mrs. John   ┆ female ┆ ... ┆ C        ┆ 4    ┆ null ┆ New York, NY │
│        ┆          ┆ Jacob (Madelein... ┆        ┆     ┆          ┆      ┆      ┆              │
└────────┴──────────┴────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────┘

In [28]:
dados\
    .filter(col('embarked').is_in(['C', 'S']))\
    .head(3)

# Embarked está na lista C ou S

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

### **6.3. Variáveis de data**

In [29]:
dates = DataFrame(date_range(date(2022, 1, 1), date(2022, 3, 1), '1d', name = 'drange'))

dates.head()

shape: (5, 1)
┌────────────┐
│ drange     │
│ ---        │
│ date       │
╞════════════╡
│ 2022-01-01 │
│ 2022-01-02 │
│ 2022-01-03 │
│ 2022-01-04 │
│ 2022-01-05 │
└────────────┘

In [30]:
dates\
    .filter(col('drange') <= datetime(2022, 1, 2))

# drange menor ou igual à 02/01/2022

shape: (2, 1)
┌────────────┐
│ drange     │
│ ---        │
│ date       │
╞════════════╡
│ 2022-01-01 │
│ 2022-01-02 │
└────────────┘

In [31]:
dates\
    .filter(col('drange').is_between(datetime(2022, 1, 1), datetime(2022, 1, 3)))

# drange entre 01/01/2022 e 03/01/2022

shape: (3, 1)
┌────────────┐
│ drange     │
│ ---        │
│ date       │
╞════════════╡
│ 2022-01-01 │
│ 2022-01-02 │
│ 2022-01-03 │
└────────────┘

## **7. Funções de agregação, sem agupamento**

In [32]:
#---- value counts da variável survived

dados\
    .select([\
             col('survived').value_counts()
            ])\
    .to_series().struct.unnest()

shape: (2, 2)
┌──────────┬────────┐
│ survived ┆ counts │
│ ---      ┆ ---    │
│ i64      ┆ u32    │
╞══════════╪════════╡
│ 0        ┆ 809    │
│ 1        ┆ 500    │
└──────────┴────────┘

In [33]:
#---- agregação de uma única variável: máximo da var age

dados\
    .select(col('age'))\
    .max()

shape: (1, 1)
┌──────┐
│ age  │
│ ---  │
│ f64  │
╞══════╡
│ 80.0 │
└──────┘

In [34]:
#---- Para acessar a primeira linha e trazer o valor

dados\
    .select(col('age'))\
    .max()\
    .row(0)[0]

80.0

In [35]:
#---- Agregação com duas variáveis sem agrupamento (TO-DO)

# dados\
#     .agg(\
#         mean('age').alias('nao_funciona_essa_desgraca'),
#         min('age').alias('nao_funciona_essa_desgraca1'),
#         median('age').alias('nao_funciona_essa_desgraca1'),
#         )

## **8. Funções de agregação, COM agupamento**

**Lembrem de usar colchete "[]", caso queiram adicionar mais de uma função de agregação**

- mean
- median
- quantile
- first
- last
- min
- max
- sum
- n_unique
- agg to series
- return group indexes

In [36]:
dados\
    .groupby('survived')\
    .agg([\
          col('age').count().alias('n'), # tanto faz a variável, common kids
          col('age').mean().alias('mean_age'),
          col('age').median().alias('median_age'),
          col('age').max().alias('max_age'),
          col('age').min().alias('min_age'),
          col('fare').sum().cast(Int64).alias('sum_fare'), # trocando o tipo da variável
          col('fare').quantile(0.1).alias('q10_fare'),
          col('fare').quantile(0.9).alias('q90_fare'),
          col('name').first().alias('first_name'),
          col('name').last().alias('last_name'),
          col('name').n_unique().alias('unique_names')
         ])

# nunique

shape: (2, 12)
┌──────────┬─────┬───────────┬────────────┬─────┬──────────┬─────────────┬────────────┬────────────┐
│ survived ┆ n   ┆ mean_age  ┆ median_age ┆ ... ┆ q90_fare ┆ first_name  ┆ last_name  ┆ unique_nam │
│ ---      ┆ --- ┆ ---       ┆ ---        ┆     ┆ ---      ┆ ---         ┆ ---        ┆ es         │
│ i64      ┆ u32 ┆ f64       ┆ f64        ┆     ┆ f64      ┆ str         ┆ str        ┆ ---        │
│          ┆     ┆           ┆            ┆     ┆          ┆             ┆            ┆ u32        │
╞══════════╪═════╪═══════════╪════════════╪═════╪══════════╪═════════════╪════════════╪════════════╡
│ 0        ┆ 809 ┆ 30.545363 ┆ 28.0       ┆ ... ┆ 50.4958  ┆ Allison,    ┆ Zimmerman, ┆ 808        │
│          ┆     ┆           ┆            ┆     ┆          ┆ Miss. Helen ┆ Mr. Leo    ┆            │
│          ┆     ┆           ┆            ┆     ┆          ┆ Loraine     ┆            ┆            │
│ 1        ┆ 500 ┆ 28.918244 ┆ 28.0       ┆ ... ┆ 120.0    ┆ Allen,      ┆ Yasbeck,   ┆ 500        │
│          ┆     ┆           ┆            ┆     ┆          ┆ Miss.       ┆ Mrs.       ┆            │
│          ┆     ┆           ┆            ┆     ┆          ┆ Elisabeth   ┆ Antoni     ┆            │
│          ┆     ┆           ┆            ┆     ┆          ┆ Walton      ┆ (Selini    ┆            │
│          ┆     ┆           ┆            ┆     ┆          ┆             ┆ Ale...     ┆            │
└──────────┴─────┴───────────┴────────────┴─────┴──────────┴─────────────┴────────────┴────────────┘

### **8.1. Bônus: Funções de agregações + agrupamentos + filtros (ao mesmo tempo)**

Vamos considerar que você quer fazer saber somente a média da idade de quem sobreviveu ou não para os passageiros das classes 1 e 2. Podemos fazer o seguinte códiguin:

In [37]:
dados\
    .groupby('survived', maintain_order = True)\
    .agg([\
        col('age').filter(col('pclass').is_in([1, 2])).mean().alias('idade_media_classe_1_2'),
        col('age').filter(col('pclass').is_in([2, 3])).mean().alias('idade_media_classe_2_3')
        ])

shape: (2, 3)
┌──────────┬────────────────────────┬────────────────────────┐
│ survived ┆ idade_media_classe_1_2 ┆ idade_media_classe_2_3 │
│ ---      ┆ ---                    ┆ ---                    │
│ i64      ┆ f64                    ┆ f64                    │
╞══════════╪════════════════════════╪════════════════════════╡
│ 1        ┆ 32.181318              ┆ 23.094187              │
│ 0        ┆ 37.337349              ┆ 28.009845              │
└──────────┴────────────────────────┴────────────────────────┘

In [38]:
#---- Mesma coisa que o código acima

dados\
    .filter(col('pclass').is_in([1, 2]))\
    .groupby('survived', maintain_order = True)\
    .agg(\
        col('age').mean().alias('mean_age')
        )

shape: (2, 2)
┌──────────┬───────────┐
│ survived ┆ mean_age  │
│ ---      ┆ ---       │
│ i64      ┆ f64       │
╞══════════╪═══════════╡
│ 1        ┆ 32.181318 │
│ 0        ┆ 37.337349 │
└──────────┴───────────┘

## **9. Ordenando as linhas**

Aos mais chegados:

- Pandas: sort_values
- R (dplyr): arrange
- SQL: Order By

In [39]:
#---- Ordem crescente da variável age

dados\
    .sort(by = 'age', reverse = False)\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬─────────────────────┬──────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                ┆ sex  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                 ┆ ---  ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                 ┆ str  ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═════════════════════╪══════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr. John D ┆ male ┆ ... ┆ S        ┆ null ┆ null ┆ New York, NY     │
│ 1      ┆ 1        ┆ Bradley, Mr. George ┆ male ┆ ... ┆ S        ┆ 9    ┆ null ┆ Los Angeles, CA  │
│        ┆          ┆ ("George Art...     ┆      ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Brewe, Dr. Arthur   ┆ male ┆ ... ┆ C        ┆ null ┆ null ┆ Philadelphia, PA │
│        ┆          ┆ Jackson             ┆      ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴─────────────────────┴──────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [40]:
#---- Ordem decrescente da variável age

dados\
    .sort(by = 'age', reverse = True)\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Barkworth, Mr.    ┆ male   ┆ ... ┆ S        ┆ B    ┆ null ┆ Hessle, Yorks    │
│        ┆          ┆ Algernon Henry    ┆        ┆     ┆          ┆      ┆      ┆                  │
│        ┆          ┆ Wi...             ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Cavendish, Mrs.   ┆ female ┆ ... ┆ S        ┆ 6    ┆ null ┆ Little Onn Hall, │
│        ┆          ┆ Tyrell William    ┆        ┆     ┆          ┆      ┆      ┆ Staffs           │
│        ┆          ┆ (...              ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Svensson, Mr.     ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Johan             ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [41]:
#---- Ordem decrescente da variável age e crescente da variável fare

dados\
    .sort(by = ['age', 'fare'], reverse = [True, False])\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Barkworth, Mr.    ┆ male   ┆ ... ┆ S        ┆ B    ┆ null ┆ Hessle, Yorks    │
│        ┆          ┆ Algernon Henry    ┆        ┆     ┆          ┆      ┆      ┆                  │
│        ┆          ┆ Wi...             ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Cavendish, Mrs.   ┆ female ┆ ... ┆ S        ┆ 6    ┆ null ┆ Little Onn Hall, │
│        ┆          ┆ Tyrell William    ┆        ┆     ┆          ┆      ┆      ┆ Staffs           │
│        ┆          ┆ (...              ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Svensson, Mr.     ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Johan             ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

## **10. Trabalhando com duplicatas**

Funciona bem parecido com o `drop_duplicates` do Pandas.

In [42]:
dados\
    .unique(subset = 'embarked', keep = 'first')

shape: (4, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Artagaveytia, Mr. ┆ male   ┆ ... ┆ C        ┆ null ┆ 22   ┆ Montevideo,      │
│        ┆          ┆ Ramon             ┆        ┆     ┆          ┆      ┆      ┆ Uruguay          │
│ 1      ┆ 1        ┆ Icard, Miss.      ┆ female ┆ ... ┆ null     ┆ 6    ┆ null ┆ null             │
│        ┆          ┆ Amelie            ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Minahan, Dr.      ┆ male   ┆ ... ┆ Q        ┆ null ┆ 230  ┆ Fond du Lac, WI  │
│        ┆          ┆ William Edward    ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [43]:
dados\
    .unique(subset = ['embarked', 'pclass'], maintain_order = True, keep = 'last')

shape: (10, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Minahan, Mrs.     ┆ female ┆ ... ┆ Q        ┆ 14   ┆ null ┆ Fond du Lac, WI  │
│        ┆          ┆ William Edward    ┆        ┆     ┆          ┆      ┆      ┆                  │
│        ┆          ┆ (Li...            ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Stone, Mrs.       ┆ female ┆ ... ┆ null     ┆ 6    ┆ null ┆ Cincinatti, OH   │
│        ┆          ┆ George Nelson     ┆        ┆     ┆          ┆      ┆      ┆                  │
│        ┆          ┆ (Marth...         ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Wright, Mr.       ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ Halifax, NS      │
│        ┆          ┆ George            ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Young, Miss.      ┆ female ┆ ... ┆ C        ┆ 8    ┆ null ┆ New York, NY /   │
│        ┆          ┆ Marie Grice       ┆        ┆     ┆          ┆      ┆      ┆ Washington, DC   │
│ ...    ┆ ...      ┆ ...               ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 2      ┆ 0        ┆ Yrois, Miss.      ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Paris            │
│        ┆          ┆ Henriette ("Mrs   ┆        ┆     ┆          ┆      ┆      ┆                  │
│        ┆          ┆ Har...            ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Tobin, Mr. Roger  ┆ male   ┆ ... ┆ Q        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Ortin             ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│        ┆          ┆ Leo               ┆        ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

## **11. Lidando com valores nulos**

### **11.1. Identificando as variáveis com valores nulos**

In [44]:
dados.null_count()

shape: (1, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ u32    ┆ u32      ┆ u32  ┆ u32 ┆     ┆ u32      ┆ u32  ┆ u32  ┆ u32       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 0      ┆ 0        ┆ 0    ┆ 0   ┆ ... ┆ 2        ┆ 823  ┆ 1188 ┆ 564       │
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

### **11.2. Filtrando os nulos**

In [45]:
#---- Selecionando as linhas nulas da variável age

dados\
    .filter(col('age').is_null())\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬─────────────────────┬──────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                ┆ sex  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                 ┆ ---  ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                 ┆ str  ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═════════════════════╪══════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr. John D ┆ male ┆ ... ┆ S        ┆ null ┆ null ┆ New York, NY     │
│ 1      ┆ 1        ┆ Bradley, Mr. George ┆ male ┆ ... ┆ S        ┆ 9    ┆ null ┆ Los Angeles, CA  │
│        ┆          ┆ ("George Art...     ┆      ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 0        ┆ Brewe, Dr. Arthur   ┆ male ┆ ... ┆ C        ┆ null ┆ null ┆ Philadelphia, PA │
│        ┆          ┆ Jackson             ┆      ┆     ┆          ┆      ┆      ┆                  │
└────────┴──────────┴─────────────────────┴──────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [46]:
#---- Excluindo as linhas nulas da variável age

dados\
    .filter(~ col('age').is_null())\
    .head(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str               ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆     ┆          ┆      ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine     ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

### **11.3. Substituindo os valores nulos por algum outro**

In [47]:
dados\
    .with_columns(\
                  (col('age').fill_null(lit(0))).alias('age_fill_null')
                  )\
    .filter(col('age').is_null())\
    .head(3)

shape: (3, 15)
┌────────┬──────────┬─────────────────┬──────┬─────┬──────┬──────┬─────────────────┬───────────────┐
│ pclass ┆ survived ┆ name            ┆ sex  ┆ ... ┆ boat ┆ body ┆ home.dest       ┆ age_fill_null │
│ ---    ┆ ---      ┆ ---             ┆ ---  ┆     ┆ ---  ┆ ---  ┆ ---             ┆ ---           │
│ i64    ┆ i64      ┆ str             ┆ str  ┆     ┆ str  ┆ i64  ┆ str             ┆ f64           │
╞════════╪══════════╪═════════════════╪══════╪═════╪══════╪══════╪═════════════════╪═══════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr.    ┆ male ┆ ... ┆ null ┆ null ┆ New York, NY    ┆ 0.0           │
│        ┆          ┆ John D          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 1        ┆ Bradley, Mr.    ┆ male ┆ ... ┆ 9    ┆ null ┆ Los Angeles, CA ┆ 0.0           │
│        ┆          ┆ George ("George ┆      ┆     ┆      ┆      ┆                 ┆               │
│        ┆          ┆ Art...          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 0        ┆ Brewe, Dr.      ┆ male ┆ ... ┆ null ┆ null ┆ Philadelphia,   ┆ 0.0           │
│        ┆          ┆ Arthur Jackson  ┆      ┆     ┆      ┆      ┆ PA              ┆               │
└────────┴──────────┴─────────────────┴──────┴─────┴──────┴──────┴─────────────────┴───────────────┘

### **11.4. Substituindo pela mediana**

In [48]:
dados\
    .with_columns(\
                  (col('age').fill_null(col('age').median())).alias('age_fill_null')
                  )\
    .filter(col('age').is_null())\
    .head(3)

shape: (3, 15)
┌────────┬──────────┬─────────────────┬──────┬─────┬──────┬──────┬─────────────────┬───────────────┐
│ pclass ┆ survived ┆ name            ┆ sex  ┆ ... ┆ boat ┆ body ┆ home.dest       ┆ age_fill_null │
│ ---    ┆ ---      ┆ ---             ┆ ---  ┆     ┆ ---  ┆ ---  ┆ ---             ┆ ---           │
│ i64    ┆ i64      ┆ str             ┆ str  ┆     ┆ str  ┆ i64  ┆ str             ┆ f64           │
╞════════╪══════════╪═════════════════╪══════╪═════╪══════╪══════╪═════════════════╪═══════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr.    ┆ male ┆ ... ┆ null ┆ null ┆ New York, NY    ┆ 28.0          │
│        ┆          ┆ John D          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 1        ┆ Bradley, Mr.    ┆ male ┆ ... ┆ 9    ┆ null ┆ Los Angeles, CA ┆ 28.0          │
│        ┆          ┆ George ("George ┆      ┆     ┆      ┆      ┆                 ┆               │
│        ┆          ┆ Art...          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 0        ┆ Brewe, Dr.      ┆ male ┆ ... ┆ null ┆ null ┆ Philadelphia,   ┆ 28.0          │
│        ┆          ┆ Arthur Jackson  ┆      ┆     ┆      ┆      ┆ PA              ┆               │
└────────┴──────────┴─────────────────┴──────┴─────┴──────┴──────┴─────────────────┴───────────────┘

### **11.5. Substituindo baseado na interpolação**

In [49]:
dados\
    .with_columns(\
                  (col('age').interpolate()).alias('age_fill_null')
                  )\
    .filter(col('age').is_null())\
    .head(3)

shape: (3, 15)
┌────────┬──────────┬─────────────────┬──────┬─────┬──────┬──────┬─────────────────┬───────────────┐
│ pclass ┆ survived ┆ name            ┆ sex  ┆ ... ┆ boat ┆ body ┆ home.dest       ┆ age_fill_null │
│ ---    ┆ ---      ┆ ---             ┆ ---  ┆     ┆ ---  ┆ ---  ┆ ---             ┆ ---           │
│ i64    ┆ i64      ┆ str             ┆ str  ┆     ┆ str  ┆ i64  ┆ str             ┆ f64           │
╞════════╪══════════╪═════════════════╪══════╪═════╪══════╪══════╪═════════════════╪═══════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr.    ┆ male ┆ ... ┆ null ┆ null ┆ New York, NY    ┆ 52.0          │
│        ┆          ┆ John D          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 1        ┆ Bradley, Mr.    ┆ male ┆ ... ┆ 9    ┆ null ┆ Los Angeles, CA ┆ 31.5          │
│        ┆          ┆ George ("George ┆      ┆     ┆      ┆      ┆                 ┆               │
│        ┆          ┆ Art...          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 0        ┆ Brewe, Dr.      ┆ male ┆ ... ┆ null ┆ null ┆ Philadelphia,   ┆ 46.0          │
│        ┆          ┆ Arthur Jackson  ┆      ┆     ┆      ┆      ┆ PA              ┆               │
└────────┴──────────┴─────────────────┴──────┴─────┴──────┴──────┴─────────────────┴───────────────┘

### **11.6. Substituindo baseado na moda**

In [50]:
dados\
    .with_columns(\
                  (col('embarked').fill_null(col('embarked').mode())).alias('embarked_fill_null')
                  )\
    .filter(col('embarked').is_null())\
    .head(3)

shape: (2, 15)
┌────────┬──────────┬────────────────┬────────┬─────┬──────┬──────┬────────────────┬───────────────┐
│ pclass ┆ survived ┆ name           ┆ sex    ┆ ... ┆ boat ┆ body ┆ home.dest      ┆ embarked_fill │
│ ---    ┆ ---      ┆ ---            ┆ ---    ┆     ┆ ---  ┆ ---  ┆ ---            ┆ _null         │
│ i64    ┆ i64      ┆ str            ┆ str    ┆     ┆ str  ┆ i64  ┆ str            ┆ ---           │
│        ┆          ┆                ┆        ┆     ┆      ┆      ┆                ┆ str           │
╞════════╪══════════╪════════════════╪════════╪═════╪══════╪══════╪════════════════╪═══════════════╡
│ 1      ┆ 1        ┆ Icard, Miss.   ┆ female ┆ ... ┆ 6    ┆ null ┆ null           ┆ S             │
│        ┆          ┆ Amelie         ┆        ┆     ┆      ┆      ┆                ┆               │
│ 1      ┆ 1        ┆ Stone, Mrs.    ┆ female ┆ ... ┆ 6    ┆ null ┆ Cincinatti, OH ┆ S             │
│        ┆          ┆ George Nelson  ┆        ┆     ┆      ┆      ┆                ┆               │
│        ┆          ┆ (Marth...      ┆        ┆     ┆      ┆      ┆                ┆               │
└────────┴──────────┴────────────────┴────────┴─────┴──────┴──────┴────────────────┴───────────────┘

### **11.7. Dropando todos os nulos de uma vez**

In [51]:
#---- A variável body tem basicamente só nulos

dados\
    .drop_nulls()

shape: (0, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ i64    ┆ i64      ┆ str  ┆ str ┆     ┆ str      ┆ str  ┆ i64  ┆ str       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

### **11.8. Criando uma varaiável/flag que identifica nulos de uma variável**

In [52]:
dados\
    .with_columns(\
                 col('age').is_null().alias('flag_age_null')
                 )\
    .filter(col('age').is_null())\
    .head(3)

shape: (3, 15)
┌────────┬──────────┬─────────────────┬──────┬─────┬──────┬──────┬─────────────────┬───────────────┐
│ pclass ┆ survived ┆ name            ┆ sex  ┆ ... ┆ boat ┆ body ┆ home.dest       ┆ flag_age_null │
│ ---    ┆ ---      ┆ ---             ┆ ---  ┆     ┆ ---  ┆ ---  ┆ ---             ┆ ---           │
│ i64    ┆ i64      ┆ str             ┆ str  ┆     ┆ str  ┆ i64  ┆ str             ┆ bool          │
╞════════╪══════════╪═════════════════╪══════╪═════╪══════╪══════╪═════════════════╪═══════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr.    ┆ male ┆ ... ┆ null ┆ null ┆ New York, NY    ┆ true          │
│        ┆          ┆ John D          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 1        ┆ Bradley, Mr.    ┆ male ┆ ... ┆ 9    ┆ null ┆ Los Angeles, CA ┆ true          │
│        ┆          ┆ George ("George ┆      ┆     ┆      ┆      ┆                 ┆               │
│        ┆          ┆ Art...          ┆      ┆     ┆      ┆      ┆                 ┆               │
│ 1      ┆ 0        ┆ Brewe, Dr.      ┆ male ┆ ... ┆ null ┆ null ┆ Philadelphia,   ┆ true          │
│        ┆          ┆ Arthur Jackson  ┆      ┆     ┆      ┆      ┆ PA              ┆               │
└────────┴──────────┴─────────────────┴──────┴─────┴──────┴──────┴─────────────────┴───────────────┘

## **12. Joins**

Atualmente, segundo a documentação, existem os seguintes joins.

- inner
- left
- outer
- cross
- asof
- semi
- anti

**Exemplo copiado descaradamente da documentação, por motivos de não ter um dataset para fazer joins. No fim, basta trocar qual tipo de join você deseja utilizar, dentro da própria função.**

In [53]:
df_customers = DataFrame(
    {
        "customer_id": [1, 2, 3],
        "name": ["Alice", "Bob", "Charlie"],
    }
)

df_customers

shape: (3, 2)
┌─────────────┬─────────┐
│ customer_id ┆ name    │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 1           ┆ Alice   │
│ 2           ┆ Bob     │
│ 3           ┆ Charlie │
└─────────────┴─────────┘

In [54]:
df_orders = DataFrame(
    {
        "order_id": ["a", "b", "c"],
        "customer_id": [1, 2, 2],
        "amount": [100, 200, 300],
    }
)
df_orders

shape: (3, 3)
┌──────────┬─────────────┬────────┐
│ order_id ┆ customer_id ┆ amount │
│ ---      ┆ ---         ┆ ---    │
│ str      ┆ i64         ┆ i64    │
╞══════════╪═════════════╪════════╡
│ a        ┆ 1           ┆ 100    │
│ b        ┆ 2           ┆ 200    │
│ c        ┆ 2           ┆ 300    │
└──────────┴─────────────┴────────┘

In [55]:
df_customers\
    .join(df_orders, on = 'customer_id', how = 'inner') # mudar o parâmetro do how para o join desejado

shape: (3, 4)
┌─────────────┬───────┬──────────┬────────┐
│ customer_id ┆ name  ┆ order_id ┆ amount │
│ ---         ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ str   ┆ str      ┆ i64    │
╞═════════════╪═══════╪══════════╪════════╡
│ 1           ┆ Alice ┆ a        ┆ 100    │
│ 2           ┆ Bob   ┆ b        ┆ 200    │
│ 2           ┆ Bob   ┆ c        ┆ 300    │
└─────────────┴───────┴──────────┴────────┘

## **13. Pivot e melt**

Também temos no Polars essas funções, vou criar um exemplo somente com o pivot, pois os dados estão num formato que faz sentido. 

Você pode encontrar um exemplo do melt na [documentação](https://pola-rs.github.io/polars/py-polars/html/reference/dataframe/api/polars.DataFrame.melt.html#polars.DataFrame.melt) ou nesse [exemplo do Stack Overflow](https://stackoverflow.com/questions/71775175/convert-pandas-pivot-table-function-into-polars-pivot-function).

In [56]:
dados\
    .select([col('name'), col('cabin'), col('age')])\
    .pivot(values = 'age', index = 'cabin', columns = 'name')\
    .head(3)

shape: (3, 1308)
┌─────────┬────────────┬────────────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ cabin   ┆ Allen,     ┆ Allison,   ┆ Allison,   ┆ ... ┆ Zabour,    ┆ Zakarian,  ┆ Zakarian,  ┆ Zimmerman, │
│ ---     ┆ Miss.      ┆ Master.    ┆ Miss.      ┆     ┆ Miss.      ┆ Mr. Maprie ┆ Mr. Ortin  ┆ Mr. Leo    │
│ str     ┆ Elisabeth  ┆ Hudson     ┆ Helen      ┆     ┆ Thamine    ┆ deder      ┆ ---        ┆ ---        │
│         ┆ Walton     ┆ Trevor     ┆ Loraine    ┆     ┆ ---        ┆ ---        ┆ f64        ┆ f64        │
│         ┆ ---        ┆ ---        ┆ ---        ┆     ┆ f64        ┆ f64        ┆            ┆            │
│         ┆ f64        ┆ f64        ┆ f64        ┆     ┆            ┆            ┆            ┆            │
╞═════════╪════════════╪════════════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ B5      ┆ 29.0       ┆ null       ┆ null       ┆ ... ┆ null       ┆ null       ┆ null       ┆ null       │
│ C22 C26 ┆ null       ┆ 0.92       ┆ 2.0        ┆ ... ┆ null       ┆ null       ┆ null       ┆ null       │
│ E12     ┆ null       ┆ null       ┆ null       ┆ ... ┆ null       ┆ null       ┆ null       ┆ null       │
└─────────┴────────────┴────────────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

## **14. Operações com datas**

In [57]:
dates.head(3)

shape: (3, 1)
┌────────────┐
│ drange     │
│ ---        │
│ date       │
╞════════════╡
│ 2022-01-01 │
│ 2022-01-02 │
│ 2022-01-03 │
└────────────┘

### **14.1. Agregações**

In [58]:
dates\
    .select(col('drange'))\
    .max()

shape: (1, 1)
┌────────────┐
│ drange     │
│ ---        │
│ date       │
╞════════════╡
│ 2022-03-01 │
└────────────┘

### **14.2. Transformando para string e fazendo o inverso também**

In [59]:
dates\
    .with_columns([\
                   (col('drange').cast(str)).alias('drange_string')
                  ])\
    .with_columns((col('drange_string').str.strptime(Date, fmt = '%Y-%m-%d', strict = False).cast(Date)).alias('drange_new'))\
    .head(3)

shape: (3, 3)
┌────────────┬───────────────┬────────────┐
│ drange     ┆ drange_string ┆ drange_new │
│ ---        ┆ ---           ┆ ---        │
│ date       ┆ str           ┆ date       │
╞════════════╪═══════════════╪════════════╡
│ 2022-01-01 ┆ 2022-01-01    ┆ 2022-01-01 │
│ 2022-01-02 ┆ 2022-01-02    ┆ 2022-01-02 │
│ 2022-01-03 ┆ 2022-01-03    ┆ 2022-01-03 │
└────────────┴───────────────┴────────────┘

### **14.3. Criando novas colunas de datas**

**Para outras funções/métodos, ver esse [link](https://pola-rs.github.io/polars/py-polars/html/reference/series/timeseries.html).**

In [60]:
dates\
    .with_columns([\
                   col('drange').dt.day().alias('day'),                   
                   col('drange').dt.month().alias('month'),
                   col('drange').dt.year().alias('year'),
                   col('drange').dt.quarter().alias('quarter'),
                   col('drange').dt.week().alias('week'),
                   col('drange').dt.weekday().alias('weekday')
                  ])\
    .tail(3)

shape: (3, 7)
┌────────────┬─────┬───────┬──────┬─────────┬──────┬─────────┐
│ drange     ┆ day ┆ month ┆ year ┆ quarter ┆ week ┆ weekday │
│ ---        ┆ --- ┆ ---   ┆ ---  ┆ ---     ┆ ---  ┆ ---     │
│ date       ┆ u32 ┆ u32   ┆ i32  ┆ u32     ┆ u32  ┆ u32     │
╞════════════╪═════╪═══════╪══════╪═════════╪══════╪═════════╡
│ 2022-02-27 ┆ 27  ┆ 2     ┆ 2022 ┆ 1       ┆ 8    ┆ 7       │
│ 2022-02-28 ┆ 28  ┆ 2     ┆ 2022 ┆ 1       ┆ 9    ┆ 1       │
│ 2022-03-01 ┆ 1   ┆ 3     ┆ 2022 ┆ 1       ┆ 9    ┆ 2       │
└────────────┴─────┴───────┴──────┴─────────┴──────┴─────────┘

## **15. Exportando seus dados** (TO-DO)

## **16. Criando e aplicando funções personalizadas** (TO-DO)

## **17. Trabalhando com JSONs** (TO-DO)